<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">淘未来</title>
    <script src="../../static/js/vue.min.js" th:src="@{/static/js/vue.min.js}"></script>
	<script src="../../static/js/jquery/jquery-1.11.0.min.js" th:src="@{/static/js/jquery/jquery-1.11.0.min.js}"></script>
	<link rel="stylesheet" type="text/css" href="../../static/css/bootstrap/bootstrap.min.css" th:href="@{/static/css/bootstrap/bootstrap.min.css}">
	<script src="../../static/js/bootstrap/bootstrap.min.js" th:src="@{/static/js/bootstrap/bootstrap.min.js}"></script>
	
	<link rel="shortcut icon" href="../../static/css/favicon.ico" th:href="@{/static/css/favicon.ico}">
	<link rel="icon" href="../../static/css/favicon.ico" type="image/x-icon" th:href="@{/static/css/favicon.ico}"/>
	
	<link rel="stylesheet" href="../../static/css/normalize.css" th:href="@{/static/css/normalize.css}" type="text/css" />
	<link rel="stylesheet" href="index.css" th:href="@{/static/css/index.css}" type="text/css" />
	<!--[if lt IE 9]><script type="text/javascript" src="../../static/js/Kunyi.Respond.min.js" th:src="@{/static/js/Kunyi.Respond.js}" ></script><![endif]-->
	<script type="text/javascript" src="../../static/js/KunyiHTML5.min.js" th:src="@{/static/js/KunyiHTML5.min.js}"></script>
	<script type="text/javascript" src="../../static/js/Kunyilibrary.js" th:src="@{/static/js/Kunyilibrary.js}"></script>
	<script type="text/javascript" src="../../static/js/Kunyi.Common.js" th:src="@{/static/js/Kunyi.Common.js}"></script>
	<script type="text/javascript" src="../../static/js/Kunyi.Index.js" th:src="@{/static/js/Kunyi.Index.js}"></script>
  </head>
  <body>
   <div th:replace="fragments/header.html :: header">
    </div>
    	<nav>
		    <div class="nav">
		    	<div class="logo"><a href=""><img src="../../static/images/taoweilai.fw.png" th:src="@{/images/taoweilai.fw.png}"/></a></div>
		    	<div class="ul">
		        <ul>
		        <li class="PMenu"><a href="${ctxCms}/" class="PAMenu">网站首页</a></li>
		            <li class="PMenu"><a href="${ctxCms}/assessment/careerPlan" id="Nav_AMenu0" class="PAMenu" title="生涯规划" >生涯规划</a>
		            	<div class="navboxBase">
		            		<div class="navbox">
		                        <div class="navMenus">
		                            <ul>
			                            <li><a class="testTitle" href="${ctxCms}/assessment/charactertest?titleId=1" title="DISC测评" >DISC测评</a></li>
			                            <li><a class="testTitle" href="${ctxCms}/assessment/charactertest?titleId=2" title="4P测评" >4P测评</a></li>
			                            <li><a class="testTitle" href="${ctxCms}/assessment/charactertest?titleId=3" title="直观选择测评" >直观选择测评</a></li>
			                            <li><a class="testTitle" href="${ctxCms}/assessment/charactertest?titleId=4" title="能力选择测评" >能力选择测评</a></li>
			                            <li><a class="testTitle" href="${ctxCms}/assessment/charactertest?titleId=5" title="兴趣选择测评" >兴趣选择测评</a></li>
			                            <li><a class="testTitle" href="${ctxCms}/assessment/charactertest?titleId=6" title="能力倾向测评" >能力倾向测评</a></li>
			                            <li><a class="testTitle" href="${ctxCms}/assessment/charactertest?titleId=7" title="霍兰德职业测评" >霍兰德职业测评</a></li>
		                            </ul>
		                        </div>
		                         <div class="nav_Menu01">
		                              <dl>
		                                <dt>DISC测评</dt>
		                                <dd>
		                                	<img src="../../static/images/test-pic01.jpg" th:src="@{images/test-pic01.jpg}" width="260" height="130">
		                                	<p>DISC性格测试从Dominance－支配性，Influence－影响性，Steady－稳健性，以及Compliance－服从性四个方面对性格特质进行了描述，进而了解测试者的个性特点，自我管理与情绪稳定等各方面情况。DISC性格测试的理论基础源于发明测谎仪的威廉马斯顿博士，他在1928年创立了DISC行为与语言的研究成果。包括24组描述个性特质的形容词，测试者要根据自己的第一感觉，从每组四个形容词中选出最适合自己形容词。</p>
		                                	<a class="more testTitle" href="${ctxCms}/assessment/charactertest?titleId=1" >进入测评</a>
		                                </dd>
		                              </dl>
		                              <dl class="second">
		                                <dt>4P测评</dt>
		                                <dd>
		                                	<img src="../../static/images/test-pic02.jpg" th:src="@{images/test-pic02.jpg}" width="260" height="130">
		                                    <p>性格测试你是Power力量型、Popular活泼型、Peace和平型还是Perfect完美型、Synergy综合统效型？只要在黄色区块上写上分数就会出来结果哦！</p>
		                                	<a class="more testTitle" href="${ctxCms}/assessment/charactertest?titleId=2" >进入测评</a>
		                                </dd>
		                              </dl>
		                              <dl>
		                                <dt>霍兰德职业测评</dt>
		                                <dd>
		                                	<img src="../../static/images/test-pic03.jpg" th:src="@{images/test-pic03.jpg}" width="260" height="130">
		                                	<p>霍兰德职业兴趣自测(Self-Directed Search)是由美国职业指导专家霍兰德(John Holland)根据他本人大量的职业咨询经验及其职业类型理论编制的测评工具。霍兰德认为，个人职业兴趣特性与职业之间应有一种内在的对应关系。根据兴趣的不同，人格可分为研究型（I）、艺术型（A）、社会型（S）、企业型（E）、传统型（C）、现实型（R）六个维度，每个人的性格都是这六个维度的不同程度组合。</p>
		                                	<a class="more testTitle" href="${ctxCms}/assessment/charactertest?titleId=7" >进入测评</a>
		                                </dd>
		                              </dl>
		                        </div>
		            			<div class="clear"></div>
		                    </div>
		                </div>
		            </li>
		            <li class="PMenu"><a href="" id="Nav_AMenu1" class="PAMenu" title="填报志愿">填报志愿</a>
		            	<div class="navboxBase">
		            		<div class="navbox">
		                        <div class="navMenus">
		                            <ul><li><a href="" title="智能志愿设计">智能志愿设计</a></li>
		                            <li><a href="" title="我能上的学校">我能上的学校</a></li>
		                            <li><a href="" title="志愿防撞车">志愿防撞车</a></li>
		                            <li><a href="" title="同分去向">同分去向</a></li>
		                            <li><a href="" title="360°评估">360°评估</a></li>
		                            </ul>
		                        </div>
		                         <div class="nav_Menu01">
		                              <dl>
		                                <dt>智能志愿设计</dt>
		                                <dd>
		                                	<img src="../../static/images/twl-znz.jpg" th:src="@{images/twl-znz.jpg}" width="260" height="130">
		                                	<p>智能志愿设计，量身定制高考志愿</p>
		                                	<a class="more testTitle" href="">详情</a>
		                                </dd>
		                              </dl>
		                              <dl class="second">
		                                <dt>我能上的学校</dt>
		                                <dd>
		                                	<img src="../../static/images/twl-sxx.jpg" th:src="@{images/twl-sxx.jpg}" width="260" height="130">
		                                    <p>我能上的学校，根据分数搜索出可以上的学校</p>
		                                	<a class="more testTitle" href="">详情</a>
		                                </dd>
		                              </dl>
		                              <dl>
		                                <dt>志愿防撞车</dt>
		                                <dd>
		                                	<img src="../../static/images/twl-fzc.jpg" th:src="@{images/twl-fzc.jpg}" width="260" height="130">
		                                	<p>志愿防撞车。。。</p>
		                                	<a class="more testTitle" href="">详情</a>
		                                </dd>
		                              </dl>
		                        </div>
		            			<div class="clear"></div>
		                    </div>
		                </div>
		            </li>
		            <li class="PMenu"><a href="" id="Nav_AMenu2" class="PAMenu" title="查数据">查数据</a>
		             	<div class="navboxBase">
		            		<div class="navbox">
		                        <div class="navMenus">
		                            <ul><li><a href="" title="普通类分数">普通类分数</a></li>
		                            <li><a href="" title="查录取数">查录取数</a></li>
		                            <li><a href="" title="查院校数据">查院校数据</a></li>
		                            <li><a href="" title="查艺术分数">查艺术分数</a></li>
		                            <li><a href="" title="查专业数据">查专业数据</a></li>
		                            </ul>
		                        </div>
		                         <div class="nav_Menu01">
		                              <dl>
		                                <dt>查院校数据</dt>
		                                <dd>
		                                	<img src="../../static/images/twl-cyx.jpg" th:src="@{images/twl-cyx.jpg}" width="260" height="130">
		                                	<p>查院校数据。。。</p>
		                                	<a class="more" href="">详情</a>
		                                </dd>
		                              </dl>
		                              <dl class="second">
		                                <dt>查艺术分数</dt>
		                                <dd>
		                                	<img src="../../static/images/twl-cys.jpg" th:src="@{images/twl-cys.jpg}" width="260" height="130">
		                                    <p>查艺术分数。。。</p>
		                                	<a class="more" href="">详情</a>
		                                </dd>
		                              </dl>
		                              <dl>
		                                <dt>查专业数据</dt>
		                                <dd>
		                                	<img src="../../static/images/twl-czy.jpg" th:src="@{images/twl-czy.jpg}" width="260" height="130">
		                                	<p>查专业数据。。。</p>
		                                	<a class="more" href="">详情</a>
		                                </dd>
		                              </dl>
		                        </div>
		            			<div class="clear"></div>
		                    </div>
		                </div>
		            </li>
		            
		            <li class="PMenu"><a href="${ctxCms}/assessment/information" id="Nav_AMenu3" class="PAMenu" title="资讯">资讯</a>
		            </li>
		            <li class="PMenu"><a href="${ctxCms}/assessment/helpCenter" id="Nav_AMenu4" class="PAMenu" title="帮助中心">帮助中心</a>
		            </li>
		      </ul>
		      </div>
		      <div class="office-pic pointer-cursor" onMouseOver="hiddenQRcodeView()" onMouseOut="hiddenQRcodeHidden()">
		    	<!-- <i></i> -->
		    	<div class="office-pic-view"><img id="officePic" style="width:100%;height:100%" src="../../static/images/twl-wx.jpg" th:src="@{images/twl-wx.jpg}"/></div>
		    	<div class="hidden-pic" id="hiddenPic"></div>
		    	<div class="hidden-QRcode" id="hiddenQRcode"><img style="width:100%;height:100%" src="../../static/images/erwei.png" th:src="@{images/erwei.png}" />
		    	</div>
		    </div>
		    <div class="clear"></div>
		</div>
		    
		</nav>
      <div layout:fragment="content">
      		
      </div>
    <div th:replace="fragments/footer.html :: footer">&copy; 2014 The Static Templates</div>
  </body>
</html>