<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
<footer style="margin-top: 0px;">
	<div class="footBase">
		<!-- <h3>咨询电话：13600917747,13906006490,0592-2128000（上午8：00至12:00）（下午13:00至17:30）</h3> -->
        <p>主办单位：淘高考  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;地址：厦门火炬高新区软件园科讯楼6F-A3单元<br/>版权所有：厦门小蜜蜂大数据科技有限公司</p>
        <div class="QRcode"><img src="../../static/images/erwei.png" th:src="@{/images/erwei.png}" width="104" height="104"><br/>手机扫一扫关注淘高考官方微信</div>
    </div>
</footer>
</body>
</html>